<!DOCTYPE html>
<html lang="en">
<style>
        iframe{
            display:block;
            margin: 0 auto;
        }
        jumbotron{
            width:100%
        }

    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Belly Button Biodiversity</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

</head>
<body>
    <div>
            <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-4" align="center">Exploring America's Gun Problem</h1>
                    <p align="center">America is a unique country when it comes to guns. It’s one of the few countries in which the 
                        right to bear arms is constitutionally protected. But America’s relationship with guns is unique in another crucial 
                        way: Among developed nations, the US is far and away the most homicidal — in large part due to the easy access many 
                        Americans have to firearms. These maps and charts attempt to briefly explore what that violence looks like compared with the rest of the 
                        world, the magnitude of death, where it occurs most frequently, and what attempts have been made to address the issue.</p>
            </div>
    </div>
    <div class="container top-center">
        <div class="row">
<!--             <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="jumbotron top-center">
                        <p align="center">SELECT Year</p>
                    <select id="selDataset" onchange="optionChanged(this.value)" align="center"></select> -->
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <table class="table" id="sample_metadata"></table>
            </div>
        </div>
    </div>
    
    
    <div class="container top-center">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-12">
                <div id="pie"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-12">
            <div id="scatter"></div>
            </div>
        </div>
    </div>
    
    <iframe src="static/Julian/world_choro.html" width="1200" height="1000"></iframe>
    <iframe src="static/Julian/heatAndBar.html" width="1200" height="2000"></iframe>
    <iframe src="static/Sunitha/circle.html" width="1200" height="600"></iframe>
    <iframe src="static/Andrea/index.html" width="1200" height="600"></iframe>
    <iframe src="static/Kalib/ARHeatmap.html" width="1200" height="1000"></iframe>
    <script type="text/javascript" src="static/Julian/heatAndBar.js"></script>
    <script type="text/javascript" src="static/Sunitha/circle-marker.js"></script>
    <script type="text/javascript" src="static/Andrea/app.js"></script>
    <script type="text/javascript" src="static/Andrea/app.js"></script>
</body>
</html>
